body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bg1, .bg2, .bg3{
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg1 {
  background-image: url("../gallery/background.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.container-fluid #about1 {
  margin-top: 20px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 1.5em;
  color: #111;
}
#about p {
  letter-spacing: 2.5px;
  font-family: Courier;
  font-size: 22px;
}
.row #row1 {
  width: auto;
}
.row h5 {
  text-align: center;
  margin-top: 45px;
  text-transform: uppercase;
  color: #111;
  letter-spacing: 2px;
  font-size: 25px;
}
.row #par1 {
  font-family: serif;
  color: #111;
  font-size: 20px;
  letter-spacing: 2.5px;
}
.row #row2 {
  font-family: cursive;
  letter-spacing: 2.5px;
  font-size: 18px;
  position: inherit;
}
.row p {
  margin-left: 10px;
  margin-right: 8px;
}
.row img {
  height: 400px;
  width: auto;
  margin: 7px;
}
#padding {
  background-color: #ddd;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
div #edu {
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 1em;
  font-family: monospace;
}
div #edu2 {
  letter-spacing: 2px;
  font-family: cursive;
  font-size: 22px;
}
div #edu3 {
  margin-bottom: 20px;
}
div #edu3 p {
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 18px;
}
div #proj1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: cursive;
}
div #proj2 {
  letter-spacing: 2px;
  font-family: fantasy;
  font-size: 22px;
}
div #html p {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 20px;
}
section p {
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 20px;
}
div #image_about {
  border-radius: 50%;
  height: 300px;
}
div .image {
  height: 200px;
}
#web_responsive #web1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: cursive;
}
#web_responsive .card {
  margin: 7px;
}
#container1 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skills1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: cursive;
}
div #skills2 {
  letter-spacing: 2px;
  font-family: cursive;
  font-size: 22px;
}
div #skill1 {
  text-align: center;
}
div #skill1 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
div #skill2 {
  text-align: center;
}
div #skill2 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container2 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skill3 {
  text-align: center;
}
div #skill3 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container3 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skill4 {
  text-align: center;
}
div #skill4 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container4 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skill5 {
  text-align: center;
}
div #skill5 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container5 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skill6 {
  text-align: center;
}
div #skill6 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container6 {
  width: 75%;
  height: 8px;
  margin-left: 10px;
  position: relative;
}
div #skill7 {
  text-align: center;
}
div #skill7 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container7 {
  width: 75%;
  height: 8px;
  position: relative;
  margin-left: 10px;
}
div #skill8 {
  text-align: center;
}
div #skill8 p {
  letter-spacing: 1px;
  font-family: serif;
  font-size: 15px;
  margin-top: 5px;
}
#container8 {
  width: 75%;
  height: 8px;
  position: relative;
  margin-left: 10px;
}
